node-red/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e561d8b14d1739f3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "noise",
        "qos": "2",
        "datatype": "json",
        "broker": "a6dc2e72f2b21fa9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "4c9c3a7c16e94b6a"
            ]
        ]
    },
    {
        "id": "ee3afde62f58b5f8",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "e104f6bb0276b869"
            ]
        ]
    },
    {
        "id": "e104f6bb0276b869",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "1df422f294ec3ca1",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/schema",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "d4a33514f03ad2ba"
            ]
        ]
    },
    {
        "id": "3eebe55f5705f3eb",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "d4a33514f03ad2ba",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/schemas/noise_schema",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "268c01a329c39b6c"
            ]
        ]
    },
    {
        "id": "4c9c3a7c16e94b6a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Json Schema",
        "rules": [
            {
                "t": "set",
                "p": "schemaUrl",
                "pt": "msg",
                "to": "http://localhost:1880/schema",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "7668411942481fd6"
            ]
        ]
    },
    {
        "id": "268c01a329c39b6c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "3eebe55f5705f3eb"
            ]
        ]
    },
    {
        "id": "7668411942481fd6",
        "type": "json-multi-schema-validator",
        "z": "f6f2187d.f17ca8",
        "name": "Json Validator",
        "x": 820,
        "y": 480,
        "wires": [
            [
                "02f9e600c6430658"
            ]
        ]
    },
    {
        "id": "02f9e600c6430658",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Check Validation Result",
        "property": "error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "64f8d684e99b7ea8"
            ],
            []
        ]
    },
    {
        "id": "64f8d684e99b7ea8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Sink invalid measures",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 440,
        "wires": []
    },
    {
        "id": "ee32e84361b6ecbd",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Serving JSON Schema file",
        "info": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "f8bf5f409c29f7e4",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Reading MQTT measures",
        "info": "",
        "x": 450,
        "y": 420,
        "wires": []
    },
    {
        "id": "a6dc2e72f2b21fa9",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "192.168.178.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]