node-red/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e561d8b14d1739f3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "noise/#",
        "qos": "2",
        "datatype": "json",
        "broker": "a6dc2e72f2b21fa9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "8301894363428aaf"
            ]
        ]
    },
    {
        "id": "ee3afde62f58b5f8",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "e104f6bb0276b869"
            ]
        ]
    },
    {
        "id": "e104f6bb0276b869",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "1df422f294ec3ca1",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/schema",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "d4a33514f03ad2ba"
            ]
        ]
    },
    {
        "id": "3eebe55f5705f3eb",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1170,
        "y": 320,
        "wires": []
    },
    {
        "id": "d4a33514f03ad2ba",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/schemas/noise_schema",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "268c01a329c39b6c"
            ]
        ]
    },
    {
        "id": "4c9c3a7c16e94b6a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set Json Schema",
        "rules": [
            {
                "t": "set",
                "p": "schemaUrl",
                "pt": "msg",
                "to": "http://localhost:1880/schema",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 480,
        "wires": [
            [
                "7668411942481fd6"
            ]
        ]
    },
    {
        "id": "268c01a329c39b6c",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "3eebe55f5705f3eb"
            ]
        ]
    },
    {
        "id": "7668411942481fd6",
        "type": "json-multi-schema-validator",
        "z": "f6f2187d.f17ca8",
        "name": "Json Validator",
        "x": 1140,
        "y": 480,
        "wires": [
            [
                "e700439570c0bda4"
            ]
        ]
    },
    {
        "id": "ee32e84361b6ecbd",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Serving JSON Schema file",
        "info": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "f8bf5f409c29f7e4",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Reading, validating and storing measures from MQTT",
        "info": "",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "8301894363428aaf",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Set region",
        "rules": [
            {
                "t": "set",
                "p": "region",
                "pt": "msg",
                "to": "$number($match(topic, /noise\\/region(\\d+)$/).groups[0])",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "dfd664982dfb26d5"
            ]
        ]
    },
    {
        "id": "dfd664982dfb26d5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Check region",
        "func": "if (msg.topic == null || msg.region == null) {\n    node.error(\"Invalid MQTT Topic\", msg);\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 480,
        "wires": [
            [
                "4c9c3a7c16e94b6a"
            ]
        ]
    },
    {
        "id": "e700439570c0bda4",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Check JSON schema validation result",
        "func": "if (msg.error) {\n    node.error(\"Invalid JSON object\", msg);\n} else {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 580,
        "wires": [
            [
                "9eaebe999303fd1d"
            ]
        ]
    },
    {
        "id": "da3499d9781014eb",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Error catching",
        "info": "",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "7ef5e23e96835592",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "57d039c00858e3f2",
        "name": "",
        "x": 1150,
        "y": 580,
        "wires": [
            [
                "b90ca2e46ba74822"
            ]
        ]
    },
    {
        "id": "9eaebe999303fd1d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Preparing Distance Query and Saving Properties",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "validUrl",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "noise",
                "pt": "msg",
                "to": "(payload.mode = \"avg\" ? [payload.noise] : payload.noise)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "coordY",
                "pt": "msg",
                "to": "payload.coordY",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "coordX",
                "pt": "msg",
                "to": "payload.coordX",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[coordX, coordY, region]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT id, ROUND(SQRT(POW(coord_x - ?, 2) + POW(coord_y - ?, 2)), 4) AS distance  FROM point_of_interest  WHERE region = ? ORDER BY distance LIMIT 1;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 580,
        "wires": [
            [
                "7ef5e23e96835592"
            ]
        ]
    },
    {
        "id": "b90ca2e46ba74822",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Prepare for noise array split",
        "rules": [
            {
                "t": "set",
                "p": "nearestPoint",
                "pt": "msg",
                "to": "payload[0] != null ? payload[0].id : null",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "noise",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "noise",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 680,
        "wires": [
            [
                "d85f4b25ecee2e0f"
            ]
        ]
    },
    {
        "id": "d85f4b25ecee2e0f",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "Noise split",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 680,
        "wires": [
            [
                "e47d5bea0a9d9a1b"
            ]
        ]
    },
    {
        "id": "e47d5bea0a9d9a1b",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Preparing for insert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[payload, coordX, coordY, region, nearestPoint]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "INSERT INTO noise_measure VALUES (NULL, ?, ?, ?, ?, ?, CURRENT_TIMESTAMP);",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 680,
        "wires": [
            [
                "51818a8620e27c54"
            ]
        ]
    },
    {
        "id": "51818a8620e27c54",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "57d039c00858e3f2",
        "name": "",
        "x": 1090,
        "y": 680,
        "wires": [
            [
                "c7dd97140c5de899"
            ]
        ]
    },
    {
        "id": "c7dd97140c5de899",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Done",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Noise measure inserted\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 680,
        "wires": []
    },
    {
        "id": "a6dc2e72f2b21fa9",
        "type": "mqtt-broker",
        "name": "Local Broker",
        "broker": "192.168.178.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "57d039c00858e3f2",
        "type": "MySQLdatabase",
        "name": "",
        "host": "172.17.0.2",
        "port": "3306",
        "db": "noise_level",
        "tz": "",
        "charset": "UTF8"
    }
]